.input-field{
    outline: none;
    border: none;
    border: 1px solid #7b85e3;
    color: #c6c5c4;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    box-sizing: border-box;
}

.input-field::placeholder{
    color: #c6c5c4;
}

.input-field:hover{
    border: 1px solid rgb(227, 227, 227);
}
.input-field:focus{
    border: 2px solid rgb(227, 227, 227);
}

.submit-btn:hover{
    scale: 1.05;
    transition: scale 0.5s linear;
}


@media (min-width : 200px) and (max-width : 400px){
    .form{
        flex-direction: column;
    }
}